.DS_Store
NVUE/node_modules/
NVUE//dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
NVUE/unpackage/

NVUE/unpackage/dist/

NVUE/unpackage

