.find-recommend {
	width: 750px;
	flex-direction: column;
	padding-top: 35px;
}

.title {
	flex-direction: row;
	padding: 0px 25px;
	justify-content: space-between;
}

.title-left {
	height: 40px;
	flex-direction: column;
	justify-content: center;
}

.title-content {
	font-size: 26px;
	font-weight: bold;
	line-height: 40px;
}

.title-right {
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;

	height: 40px;
	border-radius: 20px;
	padding: 8px 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-right:active {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0);
}

.title-handle {
	font-size: 20px;
	line-height: 40px;
}

.music-lists {
	width: 750px;
	padding: 5px 15px;
	flex-direction: row;
	flex-wrap: wrap;
}

.music-list {
	margin: 20px 10px;
}

.ml-bg-image {
	z-index: 1;
	width: 220px;
	height: 220px;
	border-radius: 8px;
}

.music-list-header {
	position: absolute;
	height: 35px;
	width: 220px;
	z-index: 2;
	top: 0px;
	left: 0px;
	padding: 0 10px;
	flex-direction: row;
	justify-content: flex-end;
	border-radius: 10px;
	align-items: center;
	/* background-color: rgba(0, 0, 0, 0.1); */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));
}
.favorite-num{
	font-size: 20px;
	color: #FFFFFF;
	line-height: 35px;
}
.music-list-footer{
	width: 220px;
	padding-top: 15px;
}
.list-name{
	font-size: 20px;
	lines:2;
	text-overflow: ellipsis;
}
