.status_bar {
	height: var(--status-bar-height);
}

.flex {
	display: flex;
	align-items: center
}

.flex1 {
	flex: 1;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-aro {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-bet {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
