
.category-bars {
	width: 750rpx;
	height: 180rpx;
	flex-direction: row;
	justify-content: space-between;
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1rpx;
}

.c-bar {
	width: 150rpx;
	height: 180rpx;
	padding: 35rpx 30rpx;
	flex-direction: column;
	align-items: center;
}

.c-bar-name {
	font-size: 17rpx;
}

.c-bar-image {
	width: 75rpx;
	height: 75rpx;
}

.c-bar-text {
	height: 35rpx;
	width: 80rpx;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.bg-slider {
	width: 750rpx;
	height: 190rpx;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.status-bar {
	width: 750rpx;
}

.find-slider {
	width: 750rpx;
	flex-direction: column;
	padding-top: 20rpx;
}

.top {}

.image {
	width: 700rpx;
	height: 260rpx;
	left: 25rpx;
	border-radius: 10rpx;
	position: absolute;
}

.slider {
	width: 750rpx;
	height: 260rpx;
}

.indicator {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 45rpx;
}
