
.category-bars {
	width: 750rpx;
	height: 180rpx;
	flex-direction: row;
	justify-content: space-between;
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1rpx;
}

.c-bar {
	width: 150rpx;
	height: 180rpx;
	padding: 35rpx 30rpx;
	flex-direction: column;
	align-items: center;
}

.c-bar-name {
	font-size: 17rpx;
}

.c-bar-image {
	width: 75rpx;
	height: 75rpx;
}

.c-bar-text {
	height: 35rpx;
	width: 80rpx;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.bg-slider {
	width: 750rpx;
	height: 190rpx;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.status-bar {
	width: 750rpx;
}

.find-slider {
	width: 750rpx;
	flex-direction: column;
	padding-top: 20rpx;
}



.image {
	width: 700rpx;
	height: 260rpx;
	left: 25rpx;
	border-radius: 10rpx;
	position: absolute;
}

.slider {
	width: 750rpx;
	height: 260rpx;
}

.indicator {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 45rpx;
}







.line {
	width: 750rpx;
	height: 15rpx;
	background-color: rgba(0, 0, 0, 0.05);
}

.header {
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1rpx;
	height: 80rpx;
	width: 750rpx;
	position: sticky;
	flex-direction: row;
	padding: 0rpx 25rpx;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
}

.header-left {
	height: 40rpx;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.header-name {
	height: 40rpx;
}

.header-common {
	font-weight: 600;
	font-size: 22rpx;
	line-height: 40rpx;
}

.header-right {
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1rpx;
	
	height: 40rpx;
	border-radius: 20rpx;
	padding: 8rpx 15rpx;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 40rpx;
	padding: 8rpx 0rpx;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.header-handle {
	font-size: 20rpx;
	line-height: 40rpx;
}
