.fold-header{
	flex-direction: row;
	padding-left: 25px;
	padding-right: 25px;
	justify-content: space-between;
}
.fold-header:active{
	background-color: rgba(0,0,0,0.1);
}
.unfold{
	width: 30px;
	height: 30px;
}
.fold-name{
	margin-left: 10px;
	font-size: 26px;
	font-weight: bold;
}
.fold-num{
	margin-left: 10px;
	font-size: 20px;
	color: rgba(0,0,0,0.3);
}
.fold-header-left{
	flex-direction: row;
	height: 70px;
	align-items: center;
}
.fold-header-right{
	flex-direction: row;
	height: 70px;
	align-items: center;
}
.add{
	width: 30px;
	height: 30px;
}
.more{
	margin-left: 20px;
	width: 30px;
	height: 30px;
}
.fold-content{
	width: 750px;
}
.music-list{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 25px;
	height: 100px;
}
.cover-image{
	height: 90px;
	width: 90px;
	border-radius: 8px;
}
.music-list-center{
	flex-direction: column;
	justify-content: space-between;
	width: 555px;
	height: 60px;
	padding-left: 15px;
}
.music-list-name{
	font-size: 24px;
}
.number{
	font-size: 18px;
	color: rgba(0,0,0,0.5);
}
.music-list:active{
	background-color: rgba(0,0,0,0.1);
}