.top {
	width: 750rpx;
	height: 15rpx;
	background-color: rgba(0, 0, 0, 0.05);
}

.header {
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-bottom-style: solid;
	border-bottom-width: 1rpx;
	height: 80rpx;
	width: 750rpx;
	position: sticky;
	flex-direction: row;
	padding: 0rpx 25rpx;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
}

.header-left {
	height: 40rpx;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.header-name {
	height: 40rpx;
}

.header-common {
	font-weight: 600;
	font-size: 22rpx;
	line-height: 40rpx;
}

.header-right {
	height: 40rpx;
	padding: 8rpx 0rpx;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-handle {
	font-size: 20rpx;
	line-height: 40rpx;
}


.video-title {
	flex-direction: row;
	height: 90rpx;
	width: 700rpx;
	background-color: rgba(0,0,0,0.05);
	justify-content: space-between;
}
.video-play {
	width: 700rpx;
	height: 400rpx;
}

.title-left{
	height: 90rpx;
	width: 615rpx;
	padding: 0rpx 15rpx;
	justify-content: center;
}
.title-right{
	height: 90rpx;
	width: 90rpx;
	justify-content: center;
	align-items: center;
}
.avatar{
	height: 50rpx;
	width: 50rpx;
	border-radius: 50%;
}

.video-card {
	width: 750rpx;
	padding-top: 35rpx;
	align-items: center;
}


.video-info {
	width: 700rpx;
	border-radius: 15rpx;
}

.video-image {
	width: 700rpx;
	height: 380rpx;
}

.video-name{
	font-size: 23rpx;
	font-weight: 600;
	lines: 1;
	text-overflow: ellipsis;
}

.card-footer {
	height: 80rpx;
	width: 700rpx;
	flex-direction: row;
	justify-content: space-between;
}
.footer-left{
	height: 80rpx;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.like{
	flex-direction: row;
}
.comment{
	margin-left: 70rpx;
	flex-direction: row;
}
.like-num{
	font-size: 20rpx;
	line-height: 35rpx;
	color: #707070;
}
.comment-num{
	font-size: 20rpx;
	line-height: 35rpx;
	color: #707070;
}
.like-icon{
	height: 35rpx;
	width: 35rpx;
}
.comment-icon{
	height: 35rpx;
	width: 35rpx;
}
.footer-right{
	width: 80rpx;
	height: 80rpx;
	justify-content: center;
	align-items: flex-end;
	
}
.more{
	height: 25rpx;
	width: 25rpx;
}
