.find-recommend {
	width: 750rpx;
	flex-direction: column;
	padding-top: 40rpx;
}

.slider {
	flex-direction: row;
	width: 750rpx;
	height: 400rpx;
}

.title {
	flex-direction: row;
	padding: 0rpx 25rpx;
	justify-content: space-between;
}
.vertical{
	height: 20rpx;
	width: 2rpx;
	position: absolute;
	left: 95rpx;
	background-color: rgba(0,0,0,0.1);
	margin-top: 10rpx;
}
.title-left {
	height: 40rpx;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
.title-name{
	width: 85rpx;
	height: 40rpx;
}
.title-active {
	font-size: 28rpx;
	font-weight: bold;
	line-height: 40rpx;
}
.title-common{
	color: #A8A8A8;
	font-size: 24rpx;
	line-height: 40rpx;
}

.title-right {
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1rpx;

	height: 40rpx;
	border-radius: 20rpx;
	padding: 8rpx 15rpx;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-right:active {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0);
}

.title-handle {
	font-size: 20rpx;
	line-height: 40rpx;
}

.music-lists {
	width: 750rpx;
	padding: 5rpx 15rpx;
	flex-direction: row;
	flex-wrap: wrap;
}

.music-list {
	margin: 20rpx 10rpx;
}

.ml-bg-image {
	z-index: 1;
	width: 220rpx;
	height: 220rpx;
	border-radius: 8rpx;
}

.music-list-header {
	position: absolute;
	height: 35rpx;
	width: 220rpx;
	z-index: 2;
	top: 0rpx;
	left: 0rpx;
	padding: 0 10rpx;
	flex-direction: row;
	justify-content: flex-end;
	border-radius: 10rpx;
	align-items: center;
	/* background-color: rgba(0, 0, 0, 0.1); */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));
}
.favorite-num{
	font-size: 20rpx;
	color: #FFFFFF;
	line-height: 35rpx;
}
.music-list-footer{
	width: 220rpx;
	padding-top: 15rpx;
}
.list-name{
	font-size: 20rpx;
	lines:2;
	text-overflow: ellipsis;
}
