.cells{
	
}

.cell{
	flex-direction: row;
}
.cell:active{
	background-color: rgba(0,0,0,0.1);
}
.cell-left{
	height: 86rpx;
	width: 132rpx;
	justify-content: center;
	align-items: center;
}
.cell-right{
	width: 618rpx;
	flex-direction: row;
	align-items: center;
	border-bottom-color: rgba(0,0,0,0.05);
	border-bottom-width: 1rpx;
	border-bottom-style: solid;
}
.cell-name{
	font-size: 24rpx;
}
.number{
	font-size: 20rpx;
	color: rgba(0,0,0,0.3);
}
.cell-icon{
	width: 45rpx;
	height: 45rpx;
}